@page "/"

<PageTitle>Home</PageTitle>

<div class="card p-4">
    <div class="d-flex justify-content-center">

        <h1>Welcome to <span class="fw-bold">StartDotNet</span> – Your Journey Starts Here!</h1>

    </div>
</div>

<div class="d-flex flex-column mb-3 pt-4">

    <div class="p-2">
            Are you ready to dive into the world of .NET development? Whether you're a complete beginner or looking to sharpen your skills, <span class="fw-bold">StartDotNet</span> is here to guide you every step of the way.

            Our platform is designed to help new learners navigate the exciting realm of .NET, offering hands-on learning modules, real-world projects, and step-by-step tutorials. You'll gain a solid foundation in building web applications, APIs, and much more, using the powerful tools and technologies that .NET provides.
        </div>

    <div class="p-2">
        <p>What You'll Find Here:</p>
        <ul>
            <li><span class="fw-bold">Interactive Courses:</span> Learn .NET by doing, with structured lessons that make coding fun and approachable.</li>
            <li><span class="fw-bold">Projects and Challenges::</span> Apply your knowledge to real-world scenarios and grow your coding confidence.</li>
            <li><span class="fw-bold">Supportive Community:</span> Connect with fellow learners and experienced developers to ask questions, share insights, and collaborate.</li>
        </ul>
        <p>Start your .NET journey today, and transform your ideas into real-world solutions!</p>
        <p>Register as a new user and start today!</p>
    </div>

</div>
