@page "/registerUser"
@rendermode InteractiveServer

<PageTitle>Register User</PageTitle>

<div class="card p-4">
    <h1>Register User</h1>

    <div class="d-flex flex-column mb-3 pt-4">
        <EditForm Model=@Person OnValidSubmit="FormSubmitted">
            <DataAnnotationsValidator />
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="inputName4" class="form-label">Name</label>
                    <InputText @bind-Value=Person.Name class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="inputUserName4" class="form-label">User Name</label>
                    <InputText @bind-Value=Person.UserName class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <InputText @bind-Value=Person.Email class="form-control" />
                </div>

                <div class="col-md-6">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <InputText @bind-Value=Person.Password class="form-control" />
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary" value="Save">Register</button>
                </div>
            </div>
        </EditForm>
    </div>

</div>

<p role="status">Message: @SubmitResult</p>